mlflow==2.15.1
great-expectations==0.18.13
redis==5.0.1
PyMySQL==1.0.2
pandas==2.0.3
numpy==1.24.4
scikit-learn==1.3.2
SQLAlchemy>=1.4.54
evidently==0.2.8
imbalanced-learn==0.12.3
seaborn==0.13.2
matplotlib==3.7.5
catboost==1.2.5
optuna==3.6.1
